<div id='login-container' class='d-flex justify-content-center align-items-center'>
  <div id='login-box' class='card'>
    <div class="card-block">
      <h1>Login</h1>

      <%= form_tag '/login' do %>
        <div class="field form-group">
          <%= label_tag(:username, "Username", :class => 'control-label') %>
          <%= text_field_tag :username, "", :class => "form-control" %>
        </div>
        <div class="field form-group">
          <%= label_tag(:password, "Password", class: 'control-label') %>
          <%= password_field_tag :password, "", :class => "form-control" %>
        </div>
        
        <%= bootstrap_button submit: true, layout: 'primary', icon: 'arrow-right',
          label: 'Submit'
        %>
      <% end %>
    </div>
  </div>
</div>