<%= form_for @shortened_url do |form| %>

<% if @shortened_url.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@shortened_url.errors.count, "error") %> prohibited
            this URL from being saved:
        </h2>
        <ul>
            <% @shortened_url.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <p>
        <%= form.label :short_uri %><br>
        <%= form.text_field :short_uri %>
    </p>

    <p>
        <%= form.label :destination_url %><br>
        <%= form.text_field :destination_url %>
    </p>

    <p>
        <%=form.submit %>
    </p>
<% end %>
