<h1>Shortened URLs</h1>

<%= link_to 'Add URL', new_shortened_url_path, :id => 'add-url-button', :class => 'btn btn-success' %>

<div class="panel panel-default table-responsive">
  <table id='urls-table' class="table">
    <thead>
      <tr>
        <th>Short URI</th>
        <th>Destination URL</th>
        <th colspan=3>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @shortened_urls.each do |url| %>
        <tr>
          <td><%= url.short_uri %></td>
          <td><%= url.destination_url %></td>
          <td><%= link_to 'Show',shortened_url_path(url), :class => 'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_shortened_url_path(url), :class => 'btn btn-default' %></td>
          <td><%= link_to 'Destroy',shortened_url_path(url),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
