<div class='d-flex w-100 mb-4 justify-content-center'>
  <%= bootstrap_button layout: 'success', icon: 'plus', label: t(:add_url), url: new_shortened_url_path %>
</div>


<ol class="list-group">
  <% @shortened_urls.each do |url| %>
    <li class="list-group-item align-items-start">
      <div class="d-flex w-100 align-items-center row">
        <div class='col'>
          <h6>
            <% if url.is_locked %>
              <i
                class="fa fa-lock text-danger"
                data-toggle="tooltip" data-placement="top" title="Locked"
              ></i>
            <% end %>

            <%= url.title %>
          </h6>

          <small class='text-truncate'>
            /<%= url.short_uri %>

            <span class='hidden-sm-down'>
              <i class="fa fa-fw fa-arrow-right"></i> <%= link_to url.destination_url %>
            </span>
          </small>
        </div>

        <div class='hidden-xs-down px-2' style='text-align: right'>
          <div>
            <%=t :access, :count => url.shortened_url_access.count %>
          </div>

          <% last_access_date = url.last_access_date %>
          <% if last_access_date != nil %>
            <small>
              <%=t :last_access, date: I18n.l(last_access_date.to_date, format: :long) %>
            </small>
          <% end %>
        </div>
        
        <div class='url-list-buttons-container' style='margin-right: -15px;'>
          <%= bootstrap_button layout: 'outline-secondary', icon: 'search',
            tooltip: t(:view_details), url: shortened_url_path(url)
          %>
          
          <%= bootstrap_button layout: 'outline-secondary', icon: 'pencil-square-o',
             tooltip: t(:edit), url: edit_shortened_url_path(url)
          %>

          <%= bootstrap_button class_name: 'hidden-xs-down', layout: 'outline-danger', icon: 'trash-o', tooltip: t(:delete),
            url: shortened_url_path(url), method: :delete, data: { confirm: t(:delete_with_title, title: url.title) }
          %>
        </div>
    </li>
  <% end %>
</ol>
