<% content_for :page_title, page_title_for_admin(@shortened_url.title) %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to t(:home), shortened_urls_path %></li>
  <li class="breadcrumb-item active"><%= @shortened_url.title %></li>
</ol>

<div class='row'>
  <div class='col-md-6'>
    <div class='sticky-top card card-block' id='shortened-url-info'>
      <dl>
        <dt class='shortened-url-title'>
          <h1><%= @shortened_url.title %></h1>
        </dt>
        <dd class='shortened-url-description'>
          <%= @shortened_url.description %>
        </dd>
      </dl>

      <div class="shortened-url-links">
        <div>
           <%= @base_url + '/' + @shortened_url.short_uri %>
        </div>
        <div class='text-truncate'>
          <i class="fa fa-fw fa-share fa-flip-vertical"></i> <%= link_to @shortened_url.destination_url %>
        </div>
      </div>

      <div class="row">
        <div class='col-sm-8'>
          <% if @shortened_url.is_locked %>
            <div class='text-danger'>
              <i class="fa fa-lock fa-fw"></i> <%= t :locked_url %>
            </div>
          <% else %>
            <div>
              <i class="fa fa-unlock fa-fw"></i> <%= t :unlocked_url %>
            </div>
          <% end %>

          <% if @shortened_url.show_preview_page %>
            <span>
              <i class="fa fa-file-text-o fa-fw"></i> <%= t :shows_preview_page %>
            </span>
          <% else %>
            <span>
              <i class="fa fa-times fa-fw"></i> <%= t :doesnt_show_preview_page %>
            </span>
          <% end %>

          <nav style='margin-top: 15px'>
            <%= bootstrap_button layout: 'secondary', icon: 'pencil-square-o',
               label: t(:edit), url: edit_shortened_url_path(@shortened_url)
            %>

            <%= bootstrap_button class_name: 'hidden-xs-down', layout: 'danger', icon: 'trash-o', label: t(:delete),
              url: shortened_url_path(@shortened_url), method: :delete, data: { confirm: 'Delete ' + @shortened_url.title + '?' }
            %>
          </nav>
        </div>

        <div class='col-sm-4 hidden-xs-down' style='text-align: right'>
          <div class='d-inline-block' id='qr-code-div'></div>
        </div>
      </div>
    </div>
  </div>

  
  <div class='col-md-6'>
    <% @grouped_accesses.each do |access_on_current_date| %>
      <div class="card access-log-list">
        <div class="card-header sticky-top">
          <%=t :accesses_on, date: I18n.l(access_on_current_date[:date], format: :long) %>
        </div>
        <ol class="list-group list-group-flush">
          <% access_on_current_date[:accesses].each do |access| %>
            <li class="list-group-item">
              <div class="access-time-column"> 
                <%= time_tag access.created_at, access.created_at.strftime("%H:%M"), class: "badge badge-pill badge-default access-time"%>
              </div>

              <div class="col access-other-info-column">
                <div class='row'>
                  <div class='access-ip'>
                    <%= access.ip %>
                  </div>
                  <small class='col-sm access-location'>
                    <%= access.full_location %>
                  </small>
                </div>

                <small>
                  <%= link_to access.referer, '', class: 'access-referer-link' %>
                </small>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>

<script>
  new QRCode(
    document.getElementById("qr-code-div"),
    {
      text: "<%= @shortened_url.destination_url %>",
      <%# useSVG: true, %>
      width: 100,
      height: 100
    }
  );
</script>